<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
</mat-drawer-container> -->
<!-- <mat-toolbar color="primary">  
  <mat-toolbar-row> -->
    <!-- <mat-sidenav-container >
      <mat-sidenav-content>
        <p><button mat-button (click)="sidenav.toggle()">Click me</button></p>
      </mat-sidenav-content>
    </mat-sidenav-container> -->
    <!-- <mat-sidenav-container class="sample-container">
      <mat-sidenav #sidenav mode="side" class="app-sidenav mat-elevation-z10" opened>
        <mat-toolbar color="primary">
          Contacts
        </mat-toolbar>
        <mat-list role="list">
          <mat-list-item role="listitem">Item 1</mat-list-item>
          <mat-list-item role="listitem">Item 2</mat-list-item>
          <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <span>Contact Manager</span>
            <span class="example-spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </mat-toolbar-row>
        </mat-toolbar>
     -->
<!--        
        <app-form1></app-form1>
        <app-stepper1></app-stepper1>
      </mat-sidenav-content>
    </mat-sidenav-container>


    <span>Menu</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
    
  </mat-toolbar-row>
</mat-toolbar> -->
<!-- <mat-sidenav-container class="example-container"  >
<mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
(closed)="events.push('close!')">
Sidenav content
</mat-sidenav>

</mat-sidenav-container>     -->

<!-- <app-button></app-button> 
<app-card></app-card> -->




<app-sidenav></app-sidenav>
