
      <button mat-raised-button (click)="openDialog()">Click Me</button>
      <mat-card>
            <mat-card-title >USER DETAILS</mat-card-title>
            <mat-card-content>
                  Firstname: {{firstName}}
            </mat-card-content>
            <mat-card-content>
                  Last name: {{lastName}}
            </mat-card-content>
            <mat-card-content>
                  Birthday: {{birthday}}
            </mat-card-content>
            <mat-card-content>
                 Street: {{street}}
            </mat-card-content>
            <mat-card-content>
                  City: {{city}}
            </mat-card-content>
            <mat-card-content>
                  Zip Code: {{zipCode}}
            </mat-card-content>
            <mat-card-content>
                  Country: {{country}}
            </mat-card-content>

            
      </mat-card>
