.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .sample-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    display:block;
  }